oracle-data
*/tests*
hitas/oracle_migration*
__pycache__
.pytest_cache
.ruff_cache
.coverage
.dockerignore
.env
.env.template
.gitignore
.pre-commit-config.yaml
azure-pipelines-build.yml
azure-pipelines-build-test-staging.yml
azure-pipelines-dev.yml
azure-pipelines-prod.yml
azure-pipelines-staging.yml
azure-pipelines-test.yml
CHANGELOG.md
Dockerfile
initial.json
Makefile
openapi.yaml
oracle.md
README.md
