[tool.poetry]
name = "hitas"
version = "0.1.0"
description = ""
authors = []

[tool.poetry.dependencies]
python = "^3.10"
Django = "^3.2"
django-environ = "^0.8.1"
psycopg2 = "^2.9.3"
django-helusers = "^0.7.1"
django-enumfields = "^2.1.1"
django-filter = "^21.1"
Markdown = "^3.3.7"
djangorestframework = "^3.13.1"
django-nested-inline = "^0.4.5"
django-currentuser = "^0.5.3"

[tool.poetry.dev-dependencies]
autoflake = "^1.4"
black = "^22.3.0"
factory-boy = "^3.2.1"
flake8 = "^4.0.1"
isort = "^5.10.1"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
pytest-django = "^4.5.2"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "config.settings"
norecursedirs = "node_modules"
addopts = "--nomigrations"

[tool.black]
extend-exclude = "migrations"
line_length = 120

[tool.isort]
profile = "black"
skip_glob = ["*/migrations/*"]
line_length=120
atomic = true
