@use "../utils" as *
@use 'hds-design-tokens' as *

*
  --tab-color: var(--color-black-90)
  --tab-active-border-color: var(--color-black-90)
  --tab-focus-outline-size: 1px
  --tab-focus-outline-color: var(--color-black-20)
  --accent-line-color: var(--color-black-80)

*, *::after, *::before
  @include box-sizing(border-box)

ul, ol
  list-style-type: none
  padding-left: 0

.spinner
  &-wrap
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    height: 100%
    [class*="LoadingSpinner-module_loadingSpinner"]
      opacity: 0.8
      --spinner-color: var(--color-white)
      .results &
        --spinner-size: 12rem
        --spinner-thickness: 1.4rem
  &-wrap-color
    @extend .spinner-wrap
    [class*="LoadingSpinner-module_loadingSpinner"]
      opacity: 0.8
      --spinner-color: var(--color-black-20)

[class^="view--"]
  @include flexbox()
  @include flex-flow(column nowrap)
  flex-grow: 1
  > .spinner-wrap
    flex-grow: 1
    [class*="LoadingSpinner-module_loadingSpinner"]
      --spinner-size: 12rem
      --spinner-color: var(--color-engel)
      --spinner-thickness: 1.4rem
    button &
      height: 1em
      margin-left: $spacing-2-xs
      [class*="LoadingSpinner-module_loadingSpinner"]
        --spinner-size: 1.5em
        --spinner-thickness: 3px
    [class*="Button-module_secondary"] & [class*="LoadingSpinner-module_loadingSpinner"]
      color: $color-engel-dark
      --spinner-color: $color-engel-dark
    [class*="Button-module_secondary"]:not(:disabled):hover & [class*="LoadingSpinner-module_loadingSpinner"]
      color: $color-engel-medium-light
      --spinner-color: $color-engel-medium-light


[class^="view--"]
  @include flexbox()
  @include flex-flow(column nowrap)
  flex-grow: 1
  > .spinner-wrap
    flex-grow: 1
    [class*="LoadingSpinner-module_loadingSpinner"]
      --spinner-size: 12rem
      --spinner-color: var(--color-engel)
      --spinner-thickness: 1.4rem
    button &
      height: 1em
      margin-left: $spacing-2-xs
      [class*="LoadingSpinner-module_loadingSpinner"]
        --spinner-size: 1.5em
        --spinner-thickness: 3px
    [class*="Button-module_secondary"] & [class*="LoadingSpinner-module_loadingSpinner"]
      color: $color-engel-dark
      --spinner-color: $color-engel-dark
    [class*="Button-module_secondary"]:not(:disabled):hover & [class*="LoadingSpinner-module_loadingSpinner"]
      color: $color-engel-medium-light
      --spinner-color: $color-engel-medium-light

.query-handler-error
  @include flexbox()
  @include flex-flow(column)
  @include align-items(center)
  @include justify-content(center)
  height: 100%
  margin: 0
  .query-error-message
    margin-top: 0.5rem

.row
  @include flexbox()
  @include flex-flow(row nowrap)
  &--buttons
    margin-top: $spacing-layout-m
    margin-bottom: $spacing-layout-s
.row--buttons, [class*="DialogActionButtons"]
    @include align-items(center)
    @include justify-content(space-between)
    width: 100%
    >*:only-child
      margin-left: auto
      margin-right: auto

.pull-right
  float: right
  align-content: center

.align-content-right
  @include flexbox()
  @include flex-flow(row)
  @include justify-content(right)
  gap: 10px

.force-bold *
  font-weight: 700 !important

.error-text
  color: var(--color-error) !important

[class*="checkbox_hds-checkbox"]
  --background-unselected: white
  --background-selected: black

[class*="notification_hds-notification--error"] span
  font-weight: 700

.unselectable
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
