@use "../utils" as *

*
  --tab-color: var(--color-black-90)
  --tab-active-border-color: var(--color-black-90)

*, *::after, *::before
  @include box-sizing(border-box)

ul, ol
  list-style-type: none
  padding-left: 0
