<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8">
    <title>{% block title %}HITAS{% endblock %}</title>
    <style>
        @page {
            size: A4 portrait;
            @frame h_date {-pdf-frame-content: header_date; left: 325pt; width: 100pt; top: 50pt; height: 40pt;}
            @frame content_frame {left: 50pt; width: 512pt; top: 90pt; height: 632pt;}
            @frame footer {-pdf-frame-content: footer; left: 50pt; width: 500pt; top: 770pt; height: 50pt;}
        }
        @page template_attachment_1 {
            size: A4 portrait;
            @frame h_page_1 {-pdf-frame-content: header_page_1; left: 450pt; width: 100pt; top: 50pt; height: 40pt;}
            @frame h_date {-pdf-frame-content: header_date; left: 325pt; width: 100pt; top: 50pt; height: 40pt;}
            @frame content_frame {left: 50pt; width: 512pt; top: 90pt; height: 632pt;}
            @frame footer {-pdf-frame-content: footer; left: 50pt; width: 500pt; top: 770pt; height: 50pt;}
        }
        @page template_attachment_2 {
            size: A4 portrait;
            @frame h_page_2 {-pdf-frame-content: header_page_2; left: 450pt; width: 100pt; top: 50pt; height: 40pt;}
            @frame h_date {-pdf-frame-content: header_date; left: 325pt; width: 100pt; top: 50pt; height: 40pt;}
            @frame content_frame {left: 50pt; width: 512pt; top: 90pt; height: 632pt;}
            @frame footer {-pdf-frame-content: footer; left: 50pt; width: 500pt; top: 770pt; height: 50pt;}
        }
        body {font-size: 9.5pt;}
        .static-footer {font-size: 7pt; width: 500px;}
        #header_page_1 {text-align: right;}
        #header_page_2 {text-align: right;}
    </style>
    {% block style %}
    {% endblock %}
</head>

<body>

{% block header %}
    <div id="header_date">{{ date_today }}</div>
    <div id="header_page_1">Liite 1</div>
    <div id="header_page_2">Liite 2</div>
{% endblock %}


{% block content %}
{% endblock %}


{% block footer %}
        <table id="footer" class="static-footer">
            <tr>
                <td><b>Postiosoite</b></td>
                <td><b>Käyntiosoite</b></td>
                <td><b>Puh.</b> (09) 310 13033</td>
                <td></td>
            </tr>
            <tr>
                <td>Asuntopalvelut</td>
                <td>Työpajankatu 8</td>
                <td><b>Email</b> hitas@hel.fi</td>
                <td></td>
            </tr>
            <tr>
                <td>PL 58231</td>
                <td>00580 Helsinki</td>
                <td><b>Url</b> <a href="http://www.hel.fi/hitas" style="color: black; text-decoration: none;">http://www.hel.fi/hitas</a></td>
                <td></td>
            </tr>
            <tr>
                <td>00099 HELSINGIN KAUPUNKI</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
{% endblock %}

</body>
</html>
