{# Table max width is 682px #}

{# Pre-2011 Constructin Price Index #}

{% macro apartment_improvements_table_cpi(improvements) %}
{% if improvements["items"] %}
    <h3 class="bordered-header">HUONEISTOKOHTAISET PARANNUKSET</h3>
    <table class="improvements-table">
        <tr style="border-bottom: 1px solid black;">
            <td class="improvement-cell" style="width: 152px;"><b>Parannus</b></td>
            <td class="improvement-cell improvement-column" style="width: 70px;"><b>Valmistunut</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Indeksit</b></td>
            <td class="improvement-cell improvement-column" style="width: 60px;"><b>Poisto %</b></td>
            <td class="improvement-cell improvement-column" style="width: 65px;"><b>Poisto aika</b></td>
            <td class="improvement-cell improvement-column" style="width: 65px;"><b>Alkup. arvo</b></td>
            <td class="improvement-cell improvement-column" style="width: 65px;"><b>Ind. tark. arvo</b></td>
            <td class="improvement-cell improvement-column" style="width: 60px;"><b>Poisto</b></td>
            <td class="improvement-cell improvement-column" style="width: 65px;"><b>Hyv. arvo</b></td>
        </tr>
        {% for improvement in improvements["items"] %}
            <tr>
                <td class="improvement-cell">{{ improvement.name }}</td>
                <td class="improvement-cell text-right">{{ improvement.completion_date|format_date }}</td>
                <td class="improvement-cell text-right">{{ improvement.completion_date_index|intcomma }}/{{ improvement.calculation_date_index|intcomma }}</td>
                <td class="improvement-cell text-right"> {% if improvement.depreciation is not none %}{{ improvement.depreciation.percentage|intcomma }}{% else %}-{% endif %}</td>
                <td class="improvement-cell text-right"> {% if improvement.depreciation is not none %}{{ improvement.depreciation.time.years }} v {{ improvement.depreciation.time.months }} kk{% else %}-{% endif %}</td>
                <td class="improvement-cell text-right">{{ improvement.value|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.index_adjusted|intcomma }}</td>
                <td class="improvement-cell text-right"> {% if improvement.depreciation is not none %}{{ improvement.depreciation.amount|intcomma }}{% else %}-{% endif %}</td>
                <td class="improvement-cell text-right">{{ improvement.value_for_apartment|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr style="border-top: 1px solid gray; padding-top: 2px;">
            <td class="improvement-cell"><b>Parannukset yhteensä</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.index_adjusted|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.depreciation|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value_for_apartment|intcomma }}</b></td>
        </tr>
    </table>
    <br>
    <br>
{% endif %}
{% endmacro %}

{% macro housing_company_improvements_table_pre_2011_cpi(improvements) %}
{% if improvements["items"] %}
    <h3 class="bordered-header">HUONEISTON OSUUS YHTIÖN PARANNUKSISTA</h3>
    <table class="improvements-table">
        <tr style="border-bottom: 1px solid black;">
            <td class="improvement-cell" style="width: 302px;"><b>Parannus</b></td>
            <td class="improvement-cell improvement-column" style="width: 120px;"><b>Valmistunut</b></td>
            <td class="improvement-cell improvement-column" style="width: 140px;"><b>Arvo koko yhtiössä</b></td>
            <td class="improvement-cell improvement-column" style="width: 120px;"><b>Vaiheen arvo</b></td>
        </tr>
        {% for improvement in improvements["items"] %}
            <tr style="padding-top: 2px;">
                <td class="improvement-cell">{{ improvement.name }}</td>
                <td class="improvement-cell text-right">{{ improvement.completion_date|format_date }}</td>
                <td class="improvement-cell text-right">{{ improvement.value|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_for_apartment|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr style="border-top: 1px solid gray; padding-top: 2px;">
            <td class="improvement-cell"><b>Parannukset yhteensä</b></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value_for_apartment|intcomma }}</b></td>
        </tr>
    </table>
{% endif %}
{% endmacro %}

{# Pre-2011 Market Price Index #}

{% macro apartment_improvements_table_mpi(improvements) %}
{% if improvements["items"] %}
    <h3 class="bordered-header">HUONEISTOKOHTAISET PARANNUKSET</h3>
    <table class="improvements-table">
        <tr style="border-bottom: 1px solid black;">
            <td class="improvement-cell" style="width: 172px;"><b>Parannus</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Arvo</b></td>
            <td class="improvement-cell improvement-column" style="width: 90px;"><b>Valmistunut</b></td>
            <td class="improvement-cell improvement-column" style="width: 90px;"><b>Arvoa korot-<br>tava osuus</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Poistoaika</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Poiston<br>määrä</b></td>
            <td class="improvement-cell improvement-column" style="width: 90px;"><b>Hyväksytty</b></td>
        </tr>
        {% for improvement in improvements["items"] %}
            <tr>
                <td class="improvement-cell">{{ improvement.name }}</td>
                <td class="improvement-cell text-right">{{ improvement.value|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.completion_date|format_date }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_without_excess|intcomma }}</td>
                <td class="improvement-cell text-right">{% if improvement.depreciation is not none %}{{ improvement.depreciation.time.years }} v {{ improvement.depreciation.time.months }} kk{% else %}-{% endif %}</td>
                <td class="improvement-cell text-right">{% if improvement.depreciation is not none %}{{ improvement.depreciation.amount|intcomma }}{% else %}-{% endif %}</td>
                <td class="improvement-cell text-right">{{ improvement.accepted_value|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr style="border-top: 1px solid gray; padding-top: 2px;">
            <td class="improvement-cell"><b>Parannukset yhteensä</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value|intcomma }}</b></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value_without_excess|intcomma }}</b></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.depreciation|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.accepted_value|intcomma }}</b></td>
        </tr>
    </table>

    {% set excess = improvements.summary.excess %}
    {% if excess %}
      <table style="line-height: 1rem">
        <tr style="padding-top: 0.5rem;">
          <td style="width: 10px;"></td>
          <td style="width: auto;"></td>
        </tr>
        <tr style="padding-top: 0.5rem;">
          <td>&#x2022;</td>
          <td>Jokaisen parannuksen omavastuu on {{ excess.surface_area|intcomma }} m² x {{ excess.value_per_square_meter|intcomma }} euroa/m² = {{ excess.total|intcomma }} euroa.</td>
        </tr>
        <tr>
          <td>&nbsp</td>
          <td>Parannusten poistoaika on 10 vuotta ja poisto lasketaan arvoa korottavasta osuudesta.</td>
        </tr>
      </table>
    {% endif %}
    <br>
{% endif %}
{% endmacro %}

{% macro housing_company_improvements_table_pre_2011_mpi(improvements) %}
{% if improvements["items"] %}
    {% set excess = improvements.summary.excess %}
    <h3 class="bordered-header">HUONEISTON OSUUS YHTIÖN PARANNUKSISTA</h3>
    <table class="improvements-table">
        <tr style="border-bottom: 1px solid black;">
            <td class="improvement-cell" style="width: 172px;"><b>Parannus</b></td>
            <td class="improvement-cell improvement-column" style="width: 60px;"><b>Arvo</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Valmistunut</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Arvoa korot-<br>tava osuus</b></td>
            <td class="improvement-cell improvement-column" style="width: 70px;"><b>Poistoaika</b></td>
            <td class="improvement-cell improvement-column" style="width: 60px;"><b>Poiston määrä</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Hyväksytty yhtiö</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Hyväksytty huoneisto</b></td>
            {% if excess and excess.value_per_square_meter_before_2010 is not none and excess.value_per_square_meter_after_2010 is not none %}
              <td class="improvement-cell improvement-column" style="width: 15px;">&nbsp</td>
            {% endif %}
        </tr>
        {% for improvement in improvements["items"] %}
            <tr style="padding-top: 2px;">
                <td class="improvement-cell">{{ improvement.name }}</td>
                <td class="improvement-cell text-right">{{ improvement.value|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.completion_date|format_date }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_without_excess|intcomma }}</td>
                <td class="improvement-cell text-right">{% if improvement.depreciation is not none %}{{ improvement.depreciation.time.years }} v {{ improvement.depreciation.time.months }} kk{% else %}-{% endif %}</td>
                <td class="improvement-cell text-right">{% if improvement.depreciation is not none %}{{ improvement.depreciation.amount|intcomma }}{% else %}-{% endif %}</td>
                <td class="improvement-cell text-right">{{ improvement.accepted_value_for_housing_company|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.accepted_value|intcomma }}</td>
                {% if excess and excess.value_per_square_meter_before_2010 is not none and excess.value_per_square_meter_after_2010 is not none %}
                <td class="improvement-cell text-right">
                  {% if improvement.completion_date|date_before("2010-01-01") or excess.value_per_square_meter_before_2010 is none %}
                    <small>1</small>
                  {% else %}
                    <small>2</small>
                  {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr style="border-top: 1px solid gray; padding-top: 2px;">
            <td class="improvement-cell"><b>Parannukset yhteensä</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value|intcomma }}</b></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value_without_excess|intcomma }}</b></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.depreciation.amount|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.accepted_value_for_housing_company|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.accepted_value|intcomma }}</b></td>
            {% if excess and excess.value_per_square_meter_before_2010 is not none and excess.value_per_square_meter_after_2010 is not none %}
              <td class="improvement-cell text-right">&nbsp</td>
            {% endif %}
        </tr>
    </table>
    {% if excess %}
      <table style="line-height: 1rem">
        <tr style="padding-top: 0.5rem;">
          <td style="width: 10px;"></td>
          <td style="width: auto;"></td>
        </tr>
        {% if excess.value_per_square_meter_before_2010 is not none %}
        <tr style="padding-top: 0.5rem;">
          <td>{% if excess.value_per_square_meter_after_2010 is none %}&#x2022;{% else %}<small>1</small>{% endif %}</td>
          <td>Ennen 1.1.2010 valmistuneen parannuksen omavastuu on {{ excess.surface_area|intcomma }} m² x {{ excess.value_per_square_meter_before_2010|intcomma }} euroa/m² = {{ excess.total_before_2010|intcomma }} euroa.</td>
        </tr>
        <tr>
          <td>&nbsp</td>
          <td>Poistoaika on 15 vuotta ja poisto lasketaan arvoa korottavasta osuudesta.</td>
        </tr>
        {% endif %}
        {% if excess.value_per_square_meter_after_2010 is not none %}
        <tr style="padding-top: 0.5rem;">
          <td>{% if excess.value_per_square_meter_before_2010 is none %}&#x2022;{% else %}<small>2</small>{% endif %}</td>
          <td>01.01.2010 jälkeen valmistuneen parannuksen omavastuu on {{ excess.surface_area|intcomma }} m² x {{ excess.value_per_square_meter_after_2010|intcomma }} euroa/m² = {{ excess.total_after_2010|intcomma }} euroa.</td>
        </tr>
        <tr>
          <td>&nbsp</td>
          <td>Poistoaika on 15 vuotta ja poisto lasketaan arvoa korottavasta osuudesta.</td>
        </tr>
        {% endif %}
      </table>
    {% endif %}
{% endif %}
{% endmacro %}

{# 2011 Onwards #}

{% macro housing_company_improvements_table_post_2011(improvements) %}
{% if improvements["items"] %}
    <h3 class="bordered-header">HUONEISTON OSUUS YHTIÖN PARANNUKSISTA</h3>
    <table class="improvements-table">
        <tr style="border-bottom: 1px solid black;">
            <td class="improvement-cell" style="width: 252px;"><b>Parannus</b></td>
            <td class="improvement-cell improvement-column" style="width: 70px;"><b>Arvo</b></td>
            <td class="improvement-cell improvement-column" style="width: 90px;"><b>Valmistunut</b></td>
            <td class="improvement-cell improvement-column" style="width: 90px;"><b>Arvoa korot-<br>tava osuus</b></td>
            <td class="improvement-cell improvement-column" style="width: 90px;"><b>Hyväksytty<br>yhtiö</b></td>
            <td class="improvement-cell improvement-column" style="width: 90px;"><b>Hyväksytty<br>huoneisto</b></td>
        </tr>
        {% for improvement in improvements["items"] %}
            <tr style="padding-top: 2px;">
                <td class="improvement-cell">{{ improvement.name }}</td>
                <td class="improvement-cell text-right">{{ improvement.value|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.completion_date|format_date }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_added|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_for_housing_company|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_for_apartment|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr style="border-top: 1px solid gray; padding-top: 2px;">
            <td class="improvement-cell"><b>Parannukset yhteensä</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value|intcomma }}</b></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value_added|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value_for_housing_company|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ improvements.summary.value_for_apartment|intcomma }}</b></td>
        </tr>
    </table>
    {% set excess = improvements.summary.excess %}
    {% if excess %}
      <table style="line-height: 1rem">
        <tr style="padding-top: 0.5rem;">
          <td style="width: 10px;"></td>
          <td style="width: auto;"></td>
        </tr>
        <tr style="padding-top: 0.5rem;">
          <td>&#x2022;</td>
          <td>Parannuksen omavastuu on {{ excess.surface_area|intcomma }} m² x {{ excess.value_per_square_meter|intcomma }} euroa/m² = {{ excess.total|intcomma }} euroa.</td>
        </tr>
        <tr>
          <td>&nbsp</td>
          <td>Arvoa korottavaan osuuteen tehdään indeksitarkistus ilman poistoja.</td>
        </tr>
      </table>
    {% endif %}
{% endif %}
{% endmacro %}
