{% extends "components/base.jinja" %}

{% block style %}
    <style>
        .first-column {
            width: 210px;
        }

        p {
            margin-left: 150px;
        }

        .bordered-header {
            border-left: 2px;
            border-top: 2px;
            border-right: 4px;
            border-bottom: 4px;
            border-style: solid;
            border-color: black;
            text-align: center;
            padding-top: 10px;
            padding-bottom: -5px;
        }

        .text-right {
            text-align: right;
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% set apartment = maximum_price_calculation.apartment %}

    <h3>Helsingin kaupunki</h3>
    <h3>
        {{ apartment.street_address }} {{ apartment.stair }} {{ apartment.apartment_number }}
        <br>{{ apartment.postal_code }} {{ apartment.city|upper }}
    </h3>

    <br>

    <h3>HITAS-HUONEISTON ENIMMÄISHINTALASKELMA</h3>
    <table>
        <tr>
            <td class="first-column"><b>Asunto-osakeyhtiö</b></td>
            <td>{{ apartment.housing_company.official_name }}</td>
        </tr>
        <tr>
            <td class="first-column"><b>Huoneiston osoite</b></td>
            <td>{{ apartment.street_address }} {{ apartment.stair }} {{ apartment.apartment_number }}, {{ apartment.postal_code }} {{ apartment.city|upper }}</td>
        </tr>
        <tr>
            <td class="first-column"><b>Osakenumerot</b></td>
            <td>{{ apartment.share_number_start }} - {{ apartment.share_number_end }}</td>
        </tr>
    </table>
    <table>
        {% for ownership in apartment.ownerships.all() %}
            <tr>
                <td class="first-column">{% if loop.index == 1 %}<b>Omistaja ja omistusosuus (%)</b>{% endif %}</td>
                <td>{{ ownership.owner.name }}</td>
                <td>{{ ownership.percentage }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>

    <p>
        Huoneiston vahvistettu enimmäismyyntihinta on
        {{ maximum_price_calculation.maximum_price|wordify }} ({{ maximum_price_calculation.maximum_price|intcomma }})
        euroa. Enimmäismyyntihinta on voimassa kolme kuukautta laskelman päiväyksestä.
    </p>
    <p>Jos huoneiston osuus yhtiön lainoista on muuttunut ilmoitetusta määrästä, tulee kaupantekohetkellä huoneistolle
       kuuluva osuus ottaa huomioon siten, ettei enimmäishintalaskelmassa (liite 1) mainittu osakkeiden velaton hinta
       ylity.</p>
    <p>Enimmäishintalaskelman uudistuksen voi tilata puhelimitse. Rajahinta tarkistetaan ja markkinahintaindeksi
       julkaistaan neljännesvuosittain 1.2., 1.5., 1.8. ja 1. 11.</p>
    <p>Kaupungilla on yhtiöjärjestykseen perustuva oikeus lunastaa huoneiston hallintaan oikeuttavat osakkeet kaupan
       tapahduttua. Hitas-asunto voidaan myydä vain luonnolliselle henkilölle (ei yritykselle).</p>
    <p>Enimmäishintalaskelma on tulostettu Hitas-rekisteristä ja perustuu huoneiston ja yhtiön tietoihin.</p>
    <p>Lisätiedot: Maija Meikäläinen, suunnittelija, puhelin 310 00000</p>

    <br>
    <br>
    <br>
    <br>

    <table>
        <tr>
            <td style="width: 150px; vertical-align: top;">TIEDOKSI</td>
            <td>{{ apartment.housing_company.official_name }}<br>{{ apartment.housing_company.property_manager.name }}
            </td>
        </tr>
    </table>

    <pdf:nexttemplate name="template_attachment_1" />
    <pdf:nextpage />

    {% if maximum_price_calculation.json.calculations.market_price_index.maximum_price > maximum_price_calculation.json.calculations.construction_price_index.maximum_price %}
        {% set calculation = maximum_price_calculation.json.calculations.market_price_index %}
        {% set index_name = "MARKKINAHINTAINDEKSILLÄ" %}
    {% else %}
        {% set calculation = maximum_price_calculation.json.calculations.construction_price_index %}
        {% set index_name = "RAKENNUSKUSTANNUSINDEKSILLÄ" %}
    {% endif %}


    <h2 class="bordered-header">ENIMMÄISHINTALASKELMA<br>{{ index_name }}</h2>

    <table>
        <tr>
            <td class="first-column"><b>HUONEISTO</b></td>
            <td>{{ apartment.street_address }} {{ apartment.stair }} {{ apartment.apartment_number }}, {{ apartment.postal_code }} {{ apartment.city|upper }}</td>
        </tr>
        <tr>
            <td class="first-column"><b>Taloyhtiö</b></td>
            <td>{{ apartment.housing_company.id }} - {{ apartment.housing_company.official_name }}</td>
        </tr>
        <tr>
            <td class="first-column"><b>Isännöitsijä</b></td>
            <td>{{ apartment.housing_company.property_manager.name }}, {{ apartment.housing_company.property_manager.street_address }}</td>
        </tr>
    </table>
    <table>
        {% for ownership in apartment.ownerships.all() %}
            <tr>
                <td class="first-column">{% if loop.index == 1 %}<b>Omistaja ja omistusosuus (%)</b>{% endif %}</td>
                <td>{{ ownership.owner.name }}</td>
                <td>{{ ownership.percentage }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>

    <table>
        <tr>
            <td style="width: 200px"><b>Huoneluku:</b></td>
            <td style="width: 150px">{{ apartment.rooms }} {{ apartment.apartment_type.value }}</td>
            <td style="width: 350px"><b>Hankinta-arvo</b></td>
            <td style="width: 100px" class="text-right">{{ calculation.calculation_variables.acquisition_price|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Pinta-ala m²:</b></td>
            <td>{{ maximum_price_calculation.json.apartment.surface_area|intcomma }}</td>
            <td><b>+ Rakennusaik. lisä- ja muutostyöt</b></td>
            <td class="text-right">{{ calculation.calculation_variables.additional_work_during_construction|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Osakenumerot:</b></td>
            <td>{{ maximum_price_calculation.json.apartment.shares.start }} - {{ maximum_price_calculation.json.apartment.shares.end }}</td>
            <td><b>= Perushinta</b></td>
            <td class="text-right">{{ calculation.calculation_variables.basic_price|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Osakelkm:</b></td>
            <td>{{ maximum_price_calculation.json.apartment.shares.total }}</td>
            <td><b>+ Indeksin muutos</b></td>
            <td class="text-right">{{ calculation.calculation_variables.index_adjustment|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Valmistumispäivä:</b></td>
            <td>{{ calculation.calculation_variables.completion_date|format_date }}</td>
            <td><b>+ Huoneistokohtaiset parannukset</b></td>
            <td class="text-right">{{ calculation.calculation_variables.apartment_improvements }}</td>
        </tr>
        <tr>
            <td><b>ja sen rak.kust.indeksi:</b></td>
            <td>{{ calculation.calculation_variables.completion_date_index|intcomma }}</td>
            <td><b>+ Osuus yhtiön parannuksista</b></td>
            <td class="text-right">{{ calculation.calculation_variables.housing_company_improvements.summary.value_for_apartment|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Jälleenlaskentapäivä:</b></td>
            <td>{{ calculation.calculation_variables.calculation_date|format_date }}</td>
            <td><b>= Osakkeiden velaton hinta</b></td>
            <td class="text-right">{{ calculation.calculation_variables.debt_free_price|intcomma }}</td>
        </tr>
        <tr>
            <td><b>ja sen rak.kust.indeksi:</b></td>
            <td>{{ calculation.calculation_variables.completion_date_index|intcomma }}</td>
            <td><b>- osuus yhtiön lainoista {{ calculation.calculation_variables.apartment_share_of_housing_company_loans_date|format_date }}</b></td>
            <td class="text-right">{{ calculation.calculation_variables.apartment_share_of_housing_company_loans|intcomma }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>= Enimmäismyyntihinta</b></td>
            <td class="text-right">{{ calculation.maximum_price|intcomma }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>Velaton hinta euroa/m² (*)<br>* Lasketaan osakkeiden velattomasta hinnasta</b></td>
            <td class="text-right">{{ calculation.calculation_variables.debt_free_price_m2|intcomma }}</td>
        </tr>
    </table>

{% endblock %}
