{% extends "components/base.jinja" %}
{% from "components/apartment_info.jinja" import apartment_info %}

{% block style %}
    <style>
        .first-column {
            width: 210px;
        }

        .plain-text {
            margin-left: 150px;
        }

        .bordered-header {
            border-style: solid;
            border-color: black;
            border-left: 2px;
            border-top: 2px;
            border-right: 4px;
            border-bottom: 4px;
        }

        h2.bordered-header {
            text-align: center;
            padding-top: 10px;
            padding-bottom: -5px;
            margin-left: 125px;
            margin-right: 125px;
            margin-bottom: 50px;
        }

        h3.bordered-header {
            text-align: left;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: -5px;
            margin-right: 250px;
            margin-bottom: 30px;
        }

        .text-right {
            text-align: right;
            vertical-align: top;
        }

        .improvement-cell {
            padding-right: 2px;
            padding-top: 3px;
        }

        .improvement-column {
            text-align: center;
            vertical-align: bottom;
        }
    </style>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% set apartment = maximum_price_calculation.apartment %}
    {% set is_pre_2011 = apartment.completion_date|is_date_pre_2011 %}

    <h3>Helsingin kaupunki</h3>
    <h3>
        {{ apartment.street_address }} {{ apartment.stair }} {{ apartment.apartment_number }}
        <br>{{ apartment.postal_code }} {{ apartment.city|upper }}
    </h3>

    <br>

    <h3>HITAS-HUONEISTON ENIMMÄISHINTALASKELMA</h3>
    <table>
        <tr>
            <td class="first-column"><b>Asunto-osakeyhtiö</b></td>
            <td>{{ apartment.housing_company.official_name }}</td>
        </tr>
        <tr>
            <td class="first-column"><b>Huoneiston osoite</b></td>
            <td>{{ apartment.street_address }} {{ apartment.stair }} {{ apartment.apartment_number }}, {{ apartment.postal_code }} {{ apartment.city|upper }}</td>
        </tr>
        <tr>
            <td class="first-column"><b>Osakenumerot</b></td>
            <td>{{ apartment.share_number_start }} - {{ apartment.share_number_end }}</td>
        </tr>
    </table>
    <table>
        {% for ownership in apartment.ownerships.all() %}
            <tr>
                <td class="first-column">{% if loop.index == 1 %}<b>Omistaja ja omistusosuus (%)</b>{% endif %}</td>
                <td>{{ ownership.owner.name }}</td>
                <td>{{ ownership.percentage }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>

    <p class="plain-text">
        Huoneiston vahvistettu enimmäismyyntihinta on
        {{ maximum_price_calculation.maximum_price|wordify }} ({{ maximum_price_calculation.maximum_price|intcomma }})
        euroa. Enimmäismyyntihinta on voimassa kolme kuukautta laskelman päiväyksestä.
    </p>
    <p class="plain-text">Jos huoneiston osuus yhtiön lainoista on muuttunut ilmoitetusta määrästä, tulee kaupantekohetkellä huoneistolle kuuluva osuus ottaa huomioon siten, ettei enimmäishintalaskelmassa (liite 1) mainittu osakkeiden velaton hinta ylity.</p>
    <p class="plain-text">Enimmäishintalaskelman uudistuksen voi tilata puhelimitse. Rajahinta tarkistetaan ja markkinahintaindeksi julkaistaan neljännesvuosittain 1.2., 1.5., 1.8. ja 1. 11.</p>
    <p class="plain-text">Kaupungilla on yhtiöjärjestykseen perustuva oikeus lunastaa huoneiston hallintaan oikeuttavat osakkeet kaupan tapahduttua. Hitas-asunto voidaan myydä vain luonnolliselle henkilölle (ei yritykselle).</p>
    <p class="plain-text">Enimmäishintalaskelma on tulostettu Hitas-rekisteristä ja perustuu huoneiston ja yhtiön tietoihin.</p>
    <p class="plain-text">Lisätiedot: Maija Meikäläinen, suunnittelija, puhelin 310 00000</p>

    <br>
    <br>
    <br>
    <br>

    <table>
        <tr>
            <td style="width: 150px; vertical-align: top;">TIEDOKSI</td>
            <td>{{ apartment.housing_company.official_name }}<br>{{ apartment.housing_company.property_manager.name }}
            </td>
        </tr>
    </table>

    <pdf:nexttemplate name="template_attachment_1" />
    <pdf:nextpage />

    {% if maximum_price_calculation.json.calculations.market_price_index.maximum_price > maximum_price_calculation.json.calculations.construction_price_index.maximum_price %}
        {% set calculation = maximum_price_calculation.json.calculations.market_price_index %}
        {% set index_name = "MARKKINAHINTAINDEKSILLÄ" %}
    {% else %}
        {% set calculation = maximum_price_calculation.json.calculations.construction_price_index %}
        {% set index_name = "RAKENNUSKUSTANNUSINDEKSILLÄ" %}
    {% endif %}

    <h2 class="bordered-header">ENIMMÄISHINTALASKELMA<br>{{ index_name }}</h2>

    {{ apartment_info(apartment) }}
    {{ calculation_details_table(apartment, maximum_price_calculation, calculation) }}


    {% if is_pre_2011 %}
        <pdf:nexttemplate name="template_attachment_2" />
        <pdf:nextpage />

        <h2 class="bordered-header">ENIMMÄISHINTALASKELMA<br>{{ index_name }}</h2>
        <h3 class="bordered-header">HUONEISTON OSUUS YHTIÖN PARANNUKSISTA</h3>

        {{ improvements_table(calculation) }}
    {% endif %}

{% endblock %}


{% macro calculation_details_table(apartment, maximum_price_calculation, calculation) %}
    <table>
        <tr>
            <td style="width: 200px"><b>Huoneluku:</b></td>
            <td style="width: 150px">{{ apartment.rooms }} {{ apartment.apartment_type.value }}</td>
            <td style="width: 350px"><b>Hankinta-arvo</b></td>
            <td style="width: 100px" class="text-right">{{ calculation.calculation_variables.acquisition_price|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Pinta-ala m²:</b></td>
            <td>{{ maximum_price_calculation.json.apartment.surface_area|intcomma }}</td>
            <td><b>+ Rakennusaik. lisä- ja muutostyöt</b></td>
            <td class="text-right">{{ calculation.calculation_variables.additional_work_during_construction|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Osakenumerot:</b></td>
            <td>{{ maximum_price_calculation.json.apartment.shares.start }} - {{ maximum_price_calculation.json.apartment.shares.end }}</td>
            <td><b>= Perushinta</b></td>
            <td class="text-right">{{ calculation.calculation_variables.basic_price|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Osakelkm:</b></td>
            <td>{{ maximum_price_calculation.json.apartment.shares.total }}</td>
            <td><b>+ Indeksin muutos</b></td>
            <td class="text-right">{{ calculation.calculation_variables.index_adjustment|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Valmistumispäivä:</b></td>
            <td>{{ calculation.calculation_variables.completion_date|format_date }}</td>
            <td><b>+ Huoneistokohtaiset parannukset</b></td>
            <td class="text-right">{{ calculation.calculation_variables.apartment_improvements }}</td>
        </tr>
        <tr>
            <td><b>ja sen rak.kust.indeksi:</b></td>
            <td>{{ calculation.calculation_variables.completion_date_index|intcomma }}</td>
            <td><b>+ Osuus yhtiön parannuksista</b></td>
            <td class="text-right">{{ calculation.calculation_variables.housing_company_improvements.summary.value_for_apartment|intcomma }}</td>
        </tr>
        <tr>
            <td><b>Jälleenlaskentapäivä:</b></td>
            <td>{{ calculation.calculation_variables.calculation_date|format_date }}</td>
            <td><b>= Osakkeiden velaton hinta</b></td>
            <td class="text-right">{{ calculation.calculation_variables.debt_free_price|intcomma }}</td>
        </tr>
        <tr>
            <td><b>ja sen rak.kust.indeksi:</b></td>
            <td>{{ calculation.calculation_variables.completion_date_index|intcomma }}</td>
            <td><b>- osuus yhtiön lainoista {{ calculation.calculation_variables.apartment_share_of_housing_company_loans_date|format_date }}</b></td>
            <td class="text-right">{{ calculation.calculation_variables.apartment_share_of_housing_company_loans|intcomma }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>= Enimmäismyyntihinta</b></td>
            <td class="text-right">{{ calculation.maximum_price|intcomma }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>Velaton hinta euroa/m² (*)<br>* Lasketaan osakkeiden velattomasta hinnasta</b></td>
            <td class="text-right">{{ calculation.calculation_variables.debt_free_price_m2|intcomma }}</td>
        </tr>
    </table>
{% endmacro %}

{% macro improvements_table(calculation) %}
    {# Table max width is 682px #}
    <table style="font-size: 8pt">
        <tr style="border-bottom: 1px solid black;">
            <td class="improvement-cell" style="width: 172px;"><b>Parannus</b></td>
            <td class="improvement-cell improvement-column" style="width: 60px;"><b>Arvo</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Valmistunut</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Arvoa korot-<br>tava osuus</b></td>
            <td class="improvement-cell improvement-column" style="width: 70px;"><b>Poistoaika</b></td>
            <td class="improvement-cell improvement-column" style="width: 60px;"><b>Poiston määrä</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Hyväksytty yhtiö</b></td>
            <td class="improvement-cell improvement-column" style="width: 80px;"><b>Hyväksytty huoneisto</b></td>
        </tr>
        {% for improvement in calculation.calculation_variables.housing_company_improvements["items"] %}
            <tr style="border-bottom: 1px solid black; padding-top: 2px;">
                <td class="improvement-cell">{{ improvement.name }}</td>
                <td class="improvement-cell text-right">{{ improvement.value|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.completion_date }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_added|intcomma }}</td>
                <td class="improvement-cell text-right">TODO</td>
                <td class="improvement-cell text-right">{{ improvement.depreciation|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_for_housing_company|intcomma }}</td>
                <td class="improvement-cell text-right">{{ improvement.value_for_apartment|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr style="padding-top: 2px;">
            <td class="improvement-cell"><b>Parannukset yhteensä</b></td>
            <td class="improvement-cell text-right"><b>{{ calculation.calculation_variables.housing_company_improvements.summary.value|intcomma }}</b></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ calculation.calculation_variables.housing_company_improvements.summary.value_added|intcomma }}</b></td>
            <td></td>
            <td class="improvement-cell text-right"><b>{{ calculation.calculation_variables.housing_company_improvements.summary.depreciation|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ calculation.calculation_variables.housing_company_improvements.summary.value_for_housing_company|intcomma }}</b></td>
            <td class="improvement-cell text-right"><b>{{ calculation.calculation_variables.housing_company_improvements.summary.value_for_apartment|intcomma }}</b></td>
        </tr>
    </table>

    <br>

    <p>
        {% set excess = calculation.calculation_variables.housing_company_improvements.summary.excess %}
        Parannuksen omavastuu on {{ excess.surface_area|intcomma }} m² x {{ excess.value_per_square_meter|intcomma }} euroa/m² = {{ excess.total|intcomma }} euroa. Arvoa korottavaan osuuteen tehdään indeksitarkistus ilman poistoja.
    </p>
{% endmacro %}
