@use 'hds-design-tokens' as *
@use '../utils/mixins' as mix

.App
  display: flex
  flex-flow: column nowrap
  align-items: center
  min-height: 100vh

.main-content
  width: 100%
  margin: 0 auto
  flex-grow: 2

.listing
  background: $color-engel-medium-light
  padding: $spacing-layout-s
  display: grid
  grid-template-columns: 65% 35%
  > .search
    margin-bottom: $spacing-layout-s

.results
  grid-row: 2
  &-list
    background: white
    list-style: none
    padding: 0
    &__item
      cursor: pointer
      display: flex
      justify-content: space-between
      padding: $spacing-layout-xs
      &:not(:last-child)
        border-bottom: 1px solid #ccc
      &:hover
        background-color: #ededed
  .name,.address,.date-added
    width: 32%
  .name,.address
    margin-right: 2%
  .date-added
    text-align: right

.list-headers
  display: flex
  justify-content: space-between
  padding: $spacing-layout-xs $spacing-layout-xs 0

.list-header
  width: 25%

.filters
  grid-row: 2
  padding-left: $spacing-layout-s
  > *
    margin-bottom: $spacing-layout-s

.company-details
  > *
    margin-bottom: 75px
  .tab-area
    background: $color-black-5
    padding-bottom: 0.1px
  .tab-list
    background-color: white
  &__tab
    background: white
    margin: $spacing-layout-s
    padding: $spacing-layout-s
    @include mix.flexbox()
    @include mix.flex-flow(row nowrap)
    .column
      width: 50%
      border-left: 1px solid #ccc
      padding-left: $spacing-layout-xs
      &:not(:first-child)
        margin-left: $spacing-layout-s
    .detail-label
      display: block
      font-size: $fontsize-body-m
      margin-bottom: $spacing-3-xs
      letter-spacing: 1px
      color: $color-black-50
    .detail-value
      font-size: $fontsize-body-xl
      font-weight: 600
      &:not(:last-child)
        margin-bottom: $spacing-layout-s
    textarea
      font-size: $fontsize-body-l
      width: 100%
      height: 400px

.company
  .company-status
    margin-bottom: 16px

.upgrade-list
  &__list
    background-color: $color-engel-medium-light
    padding: $spacing-layout-s
    li
      @include mix.flexbox()
      > *
        width: 25%
    &-headers
      font-weight: bold
      padding: 0 $spacing-layout-s $spacing-s
    &-item
      background-color: white
      padding: $spacing-layout-s
      &:not(:last-child)
        border-bottom: 1px solid #ccc

footer
  width: 100%
