@use '../imports' as *

.App
  display: flex
  flex-flow: column nowrap
  align-items: center
  min-height: 100vh

.main-content
  @include flexbox()
  @include flex-flow(column nowrap)
  width: 100%
  margin: 0 auto $spacing-layout-xl
  flex-grow: 2

header
  margin-bottom: $spacing-xs

.listing
  background: $color-engel-medium-light
  padding: $spacing-layout-s
  display: grid
  grid-template-columns: 70% 30%

  > .search
    position: relative
    margin-bottom: $spacing-s

    [class^="Icon-module"]
      position: absolute
      top: 1rem
      right: 1rem

.results
  grid-row: 2

  &__page-counter
    @include flexbox()
    justify-content: center
    font-weight: bold
  &-list
    background: white
    list-style: none
    padding: 0
    margin: 0

    > a
      display: block

      &:not(:last-child)
        border-bottom: 1px solid #ccc

    &__item
      cursor: pointer
      @include flexbox()
      justify-content: space-between
      padding: $spacing-layout-xs

      &:hover
        background: $color-black-5

      &:not(:last-child)
        border-bottom: 1px solid #ccc

      .name, .address, .date, .number, .state, .details > div
        @include flexbox
        flex-flow: column nowrap
        justify-content: center

      .name
        width: 35%

      .address
        width: 50%

      .name, .address
        padding-right: $spacing-layout-2-xs

      .date
        width: 15%

      .area
        width: 15%

      .state
        width: 15%

      &--apartment
        display: flex
        height: 100px
        grid-template-columns: 90px auto
        grid-template-rows: auto auto

        .number
          font-size: $fontsize-heading-l
          letter-spacing: -1px
          text-transform: uppercase
          width: 10%
          line-height: 1.25

        .details
          width: 75%
          font-size: $fontsize-body-l
          @include flex-grow(1)
          @include flexbox()
          @include flex-wrap(wrap)

          .housing-company, .address
            width: 45%
            margin: 0
            padding-right: 1em

          .housing-company
            font-size: $fontsize-body-s
            font-weight: 600
            margin: -0.3em 0 0.3em

          .ownership, .area
            flex-grow: 1

          .ownership
            color: $color-black-60
            display: inline-block
            position: relative
            z-index: 10
            font-size: $fontsize-body-m
            line-height: 1
            width: 40%
            //margin: 0 15% 0.25rem 0
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            scrollbar-width: none
            scrollbar-color: transparent transparent
        //$color-black-30 $color-black-10

        &:hover .details .ownership
          overflow-x: auto
          text-overflow: clip

          &::-webkit-scrollbar
            height: 2px

            &-track
              background: $color-black-10

            &-thumb
              background: $color-black-30

        .rooms
          width: 25%

        .area
          width: 15%

        .address
          width: 45%

        .state
          display: flex
          align-items: flex-end
          width: 15%
.list

  &-amount
    padding: 0 0 0 $spacing-layout-xs
    margin: 0 0 $spacing-layout-l

  &-headers
    display: flex
    justify-content: space-between
    margin-bottom: $spacing-xs
    padding: 0 $spacing-layout-xs

  &-header
    display: flex

    &.name
      width: 35%
      padding-right: $spacing-layout-2-xs

    &.address
      width: 50%
      padding-right: $spacing-layout-2-xs

      .apartments &
        width: 40%

    &.date
      width: 15%

    &.area
      width: 14%

    &.apartment
      width: 31%

    &.state
      width: 12%
      text-align: right


.filters
  grid-row: 2
  padding: 5.5rem 0 0 $spacing-layout-s

  > *
    margin-bottom: $spacing-layout-s

.company-details
  > *
    margin-bottom: 75px

  .tab-area
    background: $color-black-5
    padding-bottom: 0.1px

  .tab-list
    background-color: white

  &__tab
    background: white
    margin: $spacing-layout-s
    padding: $spacing-layout-s
    @include flexbox()
    @include flex-flow(row nowrap)

    .column
      width: 50%
      border-left: 1px solid #ccc
      padding-left: $spacing-layout-xs

      &:not(:first-child)
        margin-left: $spacing-layout-s

    .detail-field-label
      display: block
      font-size: $fontsize-body-m
      margin-bottom: $spacing-3-xs
      letter-spacing: 1px
      color: $color-black-50

    .detail-field-value
      font-size: $fontsize-body-xl
      font-weight: 600

      span
        color: $color-black-50
        font-weight: 400

      &:not(:last-child)
        margin-bottom: $spacing-layout-s

    textarea
      font-size: $fontsize-body-m
      width: 100%
      height: 200px

.list-wrapper--real-estates, .list-wrapper--buildings
  width: 50%

.detail-list
  &__heading
    @include flexbox()
    flex-flow: row nowrap
    width: 100%
    justify-content: space-between
    align-items: center
  &__list
    background-color: $color-engel-medium-light
    padding: $spacing-layout-s

    li
      @include flexbox()
      justify-content: space-between

    &-headers
      padding: 0 $spacing-layout-s $spacing-s
      font-weight: bold

    &-item
      background-color: white
      padding: $spacing-layout-s
      > *
        display: flex
        align-items: center
      &:not(:last-child)
        border-bottom: 1px solid #ccc


footer
  width: 100%
