@use 'hds-design-tokens' as *
@use '../utils/mixins' as mix

.App
  display: flex
  flex-flow: column nowrap
  align-items: center
  min-height: 100vh

.main-content
  width: 100%
  margin: 0 auto
  flex-grow: 2

.listing
  background: $color-engel-medium-light
  padding: $spacing-layout-s
  display: grid
  grid-template-columns: 65% 35%
  > .search
    margin-bottom: $spacing-layout-s

.results
  grid-row: 2
  &-list
    background: white
    list-style: none
    padding: 0
    &__item
      cursor: pointer
      display: flex
      justify-content: space-between
      padding: $spacing-layout-xs
      &:not(:last-child)
        border-bottom: 1px solid #ccc
      &:hover
        background-color: #ededed
  .name,.address,.date-added
    width: 32%
  .name,.address
    margin-right: 2%
  .date-added
    text-align: right

.list-headers
  display: flex
  justify-content: space-between
  padding: $spacing-layout-xs $spacing-layout-xs 0

.list-header
  width: 25%

.filters
  grid-row: 2
  padding-left: $spacing-layout-s
  > *
    margin-bottom: $spacing-layout-s

.company-details
  &__tab
    padding: $spacing-layout-s
    background: $color-black-5
    @include mix.flexbox()
    @include mix.flex-flow(row nowrap)
    //&.basic-details, &.additional-details
    .column
      width: 50%
    .detail-label
      display: block
      font-size: $fontsize-body-m
      margin-bottom: $spacing-3-xs
    .detail-value
      font-size: $fontsize-body-l
      font-weight: 600
      margin-bottom: $spacing-layout-s
footer
  width: 100%
