@use 'hds-design-tokens' as *

body
  font-family: $font-default

.main-heading
  width: 100%
  display: flex
  justify-content: space-between
  font-size: $fontsize-heading-xl
  line-height: $lineheight-l
  border-bottom: 1px solid #ccc
  margin: 0 0 32px
  button
    font-size: $fontsize-body-l
    margin: $spacing-s 0

.results
  .list-headers, .name
    font-weight: 700
