@use '~hds-design-tokens' as *
@use '../utils/mixins' as *

body
  font-family: $font-default

[class^="heading--"]
  width: 100%
  @include flexbox()
  @include justify-content(space-between)
  @include align-items(center)
  font-size: $fontsize-heading-xl
  line-height: $lineheight-l
  border-bottom: 1px solid #ccc
  margin: 0 0 32px

  a, span
    display: flex

  button
    font-size: $fontsize-body-l

  .company &
    margin-bottom: 16px

[class^="heading--body"]
  font-size: $fontsize-heading-l

[class^="heading--sub"]
  font-size: $fontsize-heading-m

.query-handler-error
  font-size: 2rem
  font-weight: 700
  .query-error-message
    color: var(--color-error)
    font-family: monospace
    font-size: $fontsize-body-m
    font-weight: normal

.list-wrapper
  h2
    @include flexbox()
    @include justify-content(space-between)
    width: 100%

    button
      margin-top: -7px

.main-heading button
  margin: $spacing-s 0

.results-list .name
  font-weight: 700

a
  text-decoration: inherit
  font-weight: inherit
  color: inherit

.text-button
  background-color: transparent
  font-family: inherit
  font-size: inherit
  font-style: inherit
  font-weight: inherit
  line-height: inherit
  border-width: 0
  padding: 0
