@use '../imports' as *

.view--apartments-listing
  .results-list
    height: 1089px
    overflow: hidden
    background: #eee

  .results-list__item
    height: 108px
    background: white

  .results-list > a:last-child
    border-bottom: 0

  .list-header

    &.apartment
      width: 10%

    &.address
      width: 34%

    &.area
      width: 47%

    &.state
      width: 10%
