@use '../imports' as *

.view--apartment-details

  .heading--main
    @include flex-flow(row)
    height: 75px
    padding: $spacing-layout-s
    background: var(--color-engel)
    font-size: $fontsize-heading-s
    border: 0

    a
      @include align-items(center)
      display: inherit
      &:hover > span:not([class*="status-label"])
        text-decoration: underline

    a > span
        display: inline-block
        margin-right: $spacing-layout-s

    .address
      font-weight: 400

    [class^="StatusLabel"]
      background-color: var(--color-engel-light)

  .apartment-stats
    @include flexbox()
    @include align-items(center)
    margin-top: 0
    font-weight: 400
    padding-bottom: 1rem
    border-bottom: 1px #CCC solid

    span

      &:not(:last-child):after
        @include inline-flex()
        @include justify-content(center)
        width: $spacing-layout-m
        content: "|"

    &--number
      padding: $spacing-xs $spacing-s
      border: 2px solid var(--color-black-80)
      font-size: $fontsize-heading-l
      font-weight: 700
      line-height: 1
      margin: 0 $spacing-l

      &:after
        display: none !important

  .apartment-action-cards
    @include flexbox()
    gap: 4%

    .row--buttons
      @include justify-content(space-evenly)
      margin: $spacing-layout-xs auto

    ul
      margin: 0
      padding: 0
      a:hover
        text-decoration: underline
        svg
          transform: scale(1.25)
      .unresolved a:hover
        color: $color-black
      .resolved a:hover
        color: $color-black-50
      h3
        margin-bottom: 0
      svg
        position: relative
        top: 4px
        margin: 0px 10px 0 5px
      .unresolved
        color: $color-black-60
      .resolved
        color: $color-black-30
        text-decoration: line-through


    [class^="Card-module_card"]
      @include flexbox()
      @include flex-flow(column)
      background: $color-engel-medium-light
      width: 48%
      position: relative

      p
        margin: 0.5rem 0

      .card-heading
        font-size: $fontsize-heading-m
        font-weight: 700
        margin-bottom: 0.5rem

        &:last-of-type
          margin-top: $spacing-l

      .unconfirmed-prices
        @include flexbox()
        @include flex-flow(column)
        // width: 70%

        .price
          @include flexbox()
          @include flex-flow(row nowrap)
          @include justify-content(space-between)
          @include flex-grow(1)
          font-size: $fontsize-body-s
          font-weight: normal

          .value
            color: rgba(0, 0, 0, 0.6)

          &--current-top
            font-weight: 700

            .value
              color: $color-black-90
              font-size: $fontsize-heading-s
              line-height: 1.1

        .amount
          font-size: $fontsize-body-l

        .basis
          margin: $spacing-2-xs 0
          font-size: $fontsize-body-m

        .value
          font-size: $fontsize-body-l

      .confirmed-price
        font-size: $fontsize-heading-l
        font-weight: 900
        margin: $spacing-2-xs 0 $spacing-s
        &__date
          margin-bottom: $spacing-s
          .invalid
            color: $color-black-40

      .button-confirm
        position: absolute
        right: 2rem
        bottom: 2rem

      .sales-condition
        @include flexbox()

        .icon-container
          padding-top: 20px
          width: 50px

        .link
          font-weight: 700

        a
          text-decoration: underline

  .tab-area
    background: $color-black-5
    margin: $spacing-l 0

  .company-details__tab
    @include flex-flow(column nowrap)
    background: $color-black-5
    padding-top: 0
    padding-bottom: 4rem

    .row
      @include justify-content(space-between)
      border-bottom: 1px solid #CCC
      margin-bottom: 1rem

      > div
        @include flexbox()

      .detail-field
        &-label
          padding-top: 0.25rem
          margin-right: 1rem

        &-value
          font-size: $fontsize-heading-m
          margin-bottom: 1rem

    .columns
      @include flexbox()
      @include flex-flow(row)

      .column
        border: 0

        &:first-child
          padding-left: 0

  [class^="Tabs-module_tablistBar"]
    background: white
