@use '../imports' as *

.view--set-apartment
  .main-heading
    align-items: center
    div
      height: 30px

  .row
    justify-content: space-between
    gap: $spacing-layout-s
    > div
      flex-grow: 1

#maximum-price-confirmation-modal
  width: auto !important

  .dialog-content
    display: flex
    gap: 50px

.confirmation-modal__calculation-row
  position: relative
  left: calc(-1 * #{$spacing-xs})
  height: calc(50px + #{$spacing-xs * 2})
  padding: $spacing-xs
  margin-bottom: $spacing-layout-s
  cursor: pointer
  background-color: var(--border-color)
  --border-color: transparent
  label
    cursor: pointer
  p
    margin-top: $spacing-xs
    margin-bottom: $spacing-m
    font-size: $fontsize-body-l
  &:before
    display: block
    content: ""
    width: 0
    height: 0
    position: absolute
    top: 0
    right: -37px
    border-top: calc(25px + #{$spacing-xs}) solid transparent
    border-bottom: calc(25px + #{$spacing-xs}) solid transparent
    border-left: calc(25px + #{$spacing-xs}) solid var(--border-color)
  &:hover
    --border-color: #{$color-engel-medium-light}
  &--maximum
    font-weight: bold
    p
      margin-top: 0.25rem
      font-size: $fontsize-heading-l

.confirmation-modal__breakdown
  flex-grow: 1
  margin-top: $spacing-xs
  &-row
    display: flex
    justify-content: space-between
    label
      width: 300px
    p
      min-width: 100px
      margin: 0 0 $spacing-m
      text-align: right
      font-weight: bold
