@use '../imports' as *

.view--apartment-details
  .column
    gap: $spacing-layout-xs
    width: 50%

    textarea
      font-size: $fontsize-body-m
      width: 100%
      height: 200px
      resize: none

  .apartment-stats
    @include flexbox()
    @include align-items(center)
    margin-top: 0
    font-weight: 400
    padding-bottom: 1rem
    border-bottom: 1px #CCC solid

    .alert-icon-background
      height: 26px
      width: 26px
      border-radius: 50%
      background-color: $color-alert
      margin-left:2em
      margin-right: 0.5em

      .alert-icon
        position: relative
        top: -3px
        left: -3px

    span
      &:not(:last-child):not(:empty):after
        @include inline-flex()
        @include justify-content(center)
        width: $spacing-layout-m
        content: "|"

    &--number
      padding: $spacing-xs $spacing-s
      border: 2px solid var(--color-black-80)
      font-size: $fontsize-heading-l
      font-weight: 700
      line-height: 1
      margin: 0 $spacing-l

      &:after
        display: none !important

  .apartment-action-cards
    @include flexbox()
    gap: 4%

    .row--buttons
      @include justify-content(space-evenly)
      margin: $spacing-layout-xs auto

    ul
      margin: 0
      padding: 0
      a:hover
        .address
          text-decoration: underline
      .unresolved a:hover
        color: $color-black
      .resolved a:hover
        color: $color-black-50
      h3
        margin: $spacing-2-xs 0
      svg
        position: relative
        margin: 0 10px 0 0
        transition: transform 150ms linear
      li
        margin-bottom: 5px
        &:not(:first-child)
          h3
            margin-top: 1rem
      .unresolved
        color: $color-black-60
      .resolved
        color: $color-black-30
        text-decoration: line-through
      a
        display: flex
        flex-direction: row
        align-items: center

    [class^="Card-module_card"]
      @include flexbox()
      @include flex-flow(column)
      background: $color-engel-medium-light
      width: 48%
      position: relative

      p
        margin: 0.5rem 0

      .card-heading
        font-size: $fontsize-heading-m
        font-weight: 700
        margin-bottom: 0.5rem
        &:last-of-type
          margin-top: $spacing-l
        &--conditions-of-sale
          margin-top: $spacing-2-xs !important

      .unconfirmed-prices
        @include flexbox()
        @include flex-flow(column)
        // width: 70%

        .price
          @include flexbox()
          @include flex-flow(row nowrap)
          @include justify-content(space-between)
          @include flex-grow(1)
          font-size: $fontsize-body-s
          font-weight: normal

          .value
            color: rgba(0, 0, 0, 0.6)

          &--current-top
            font-weight: 700

            .value
              color: $color-black-90
              font-size: $fontsize-heading-s
              line-height: 1.1

        .amount
          font-size: $fontsize-body-l

        .basis
          margin: $spacing-2-xs 0
          font-size: $fontsize-body-m

        .value
          font-size: $fontsize-body-l

      .confirmed-price
        font-size: $fontsize-heading-l
        font-weight: 900
        margin: $spacing-2-xs 0 $spacing-s
        &__date
          margin-bottom: $spacing-s
          .invalid
            color: $color-black-40

      .button-confirm
        position: absolute
        right: 2rem
        bottom: 2rem

      .no-conditions
        margin-top: 1rem

      .conditions-of-sale-status
        @include flexbox()

        .icon-container
          padding-top: 20px
          width: 50px

        .link
          font-weight: 700

        a
          text-decoration: underline

  .tab-area
    background: $color-black-5
    margin: $spacing-l 0

  .apartment-details__tab
    @include flexbox()
    @include flex-flow(column nowrap)
    background: $color-black-5
    margin: $spacing-layout-s
    padding: $spacing-layout-s
    padding-top: 0
    padding-bottom: 4rem

    .columns
      @include flexbox()
      @include flex-flow(row)

      .column
        border: 0
        padding-left: $spacing-layout-xs

        &:first-child
          padding-left: 0
        &:not(:first-child)
          margin-left: $spacing-layout-s

    .detail-field-label
      display: block
      font-size: $fontsize-body-m
      margin: $spacing-4-xs 0
      margin-bottom: $spacing-3-xs
      letter-spacing: 1px
      color: $color-black-50

    .detail-field-value
      margin: $spacing-4-xs 0
      font-size: $fontsize-body-xl
      font-weight: 600

      span
        color: $color-black-50
        font-weight: 400

      &:not(:last-child)
        margin-bottom: $spacing-layout-s

      .text-button
        border-bottom: 1px solid $color-black-80

        &:hover
          cursor: pointer
          color: $color-black-70

    .top-row
      @include justify-content(space-between)

      .detail-field-horizontal
        @include flexbox()
        @include flex-flow(row)
        gap: $spacing-layout-xs
        align-items: center

      .detail-field-value
        font-size: $fontsize-heading-m

    .row
      @include justify-content(space-between)
      .delete-sale-button
        opacity: 0.6
        &:not(:disabled):hover
          opacity: 1

  .delete-sale-button
    border-color: $color-black-70
    &:hover
      border-color: $color-black

  [class^="Tabs-module_tablistBar"]
    background: white

#unconfirmed-prices-download-modal
  .input-field
    height: auto

.heading--main.heading--apartment
  @include flex-flow(row)
  height: 75px
  padding: $spacing-layout-s
  background: var(--color-engel)
  font-size: $fontsize-heading-s
  border: 0

  div
    display: flex
    flex-direction: row
    gap: 1rem

  a, span
    @include align-items(center)
    display: inherit
    &:hover > span:not([class*="status-label"])
      text-decoration: underline

  span:not([class*="status-label"])
    margin-left: 0.5rem
    margin-right: 0.5rem
  span[class*="status-label"]
    margin: 0

  .address
    font-weight: 400

  [class^="StatusLabel"]
    background-color: var(--color-engel-light)
    // cancel the hover effect, as we don't have a date to display
    &:hover
      width: auto
      opacity: 1
      [class*="hds-status-label-icon"]
        width: auto
        opacity: 1

span.conditions-of-sale-status
  @include flexbox()
  @include flex-flow(row nowrap)
  @include justify-content(center)
  @include align-items(center)

  padding-left: 4px
  padding-right: 4px

  margin-right: 0.5em
  span
    //height: 32px
    margin: 0
    svg
      margin: 0 !important

  [class*="hds-status-label-icon"]
    width: 24px

  &--with-date
    [class*="hds-status-label-icon"]
      opacity: 1
      transition: width 200ms 100ms, opacity 100ms
    .sell-by-date
      overflow: hidden
      width: 0
      opacity: 0
      text-align: center
      transition: width 200ms 100ms, opacity 200ms
    &:hover
      [class*="hds-status-label-icon"]
        width: 0
        opacity: 0
        transition: width 100ms, opacity 100ms
      .sell-by-date
        width: 74px
        opacity: 1
        transition: width 200ms, opacity 200ms 100ms
      display: none
    &:hover > .sell-by-date
      display: inline-block