@use '../imports' as *

.view--codes
  @include flexbox()
  @include flex-flow(column nowrap)
  flex-grow: 1
  [class^="Tabs-module"]
    [class*="tablistBar"]
      background-color: white

    [class*="active"]
      background-color: $codes-background-color

      span
        font-weight: 700

        &:before
          display: none

  [class^="Tabs-module_tabs"]
    @include flexbox()
    @include flex-flow(column nowrap)
    @include flex-grow(1)

  .results
    grid-row: 1
    grid-column: 2

  .filters
    padding: 0 2rem 0 0
    grid-row: 1
    grid-column: 1

    .index-actions
      @include flexbox()
      justify-content: space-between
      >:only-child
        margin: 0 auto

  .listing
    background-color: $codes-background-color
    @include flexbox()
    @include flex-flow(column nowrap)
    padding-right: $spacing-layout-2-xl



  .results-list
    border: 1px solid #888

  .results-list__item
    position: relative
    padding: $spacing-xs $spacing-m
    cursor: pointer
    &:after
      display: block
      content: "Muokkaa"
      font-weight: 700
      position: absolute
      top: 0.75em
      right: calc(70px - 5rem)
      opacity: 0
      overflow: hidden
      max-width: 10px
      transition: all 200ms
    &:not(:last-child)
      border: none
    &:hover
      background-color: $color-engel-medium-light
      &:after
        right: -5rem
        max-width: 70px
        opacity: 0.2
    &:nth-child(odd)
      background-color: $color-engel-light
      &:hover
        background-color: $color-engel-medium-light

  &__tab--indices
    @include flexbox()
    @include flex-flow(column nowrap)
    @include flex-grow(1)
    [class*="Select-module_"]
      text-transform: capitalize
    .listing
      grid-template-rows: auto
      grid-template-columns: 50% 50%
      @include flex-grow(1)
      justify-content: flex-start

    .list-headers, .results-list__item
      @include flexbox()
      justify-content: space-between
      .index
        width: 70%
      .month
        width: 20%
      .value
        width: 10%
        text-align: right

  .index-actions
    padding-top: $spacing-layout-m
    @include flexbox()
    justify-content: center
