@use '../imports' as *

.view--codes
  @include flexbox()
  @include flex-flow(column nowrap)
  @include flex-grow(1)
  [class^="Tabs-module"]
    [class*="tablistBar"]
      background-color: white

    [class*="active"]
      background-color: $codes-background-color

      span
        font-weight: 700

        &:before
          display: none

  [class^="Tabs-module_tabs"]
    @include flexbox()
    @include flex-flow(column nowrap)
    @include flex-grow(1)

  .results
    height: 510px

  .filters
    @include flexbox()
    padding: 0
    width: 100%
    gap: $spacing-m

    > div
      @include flex-grow(1)

  .listing
    @include flexbox()
    @include flex-flow(column nowrap)
    background-color: $codes-background-color
    padding-right: $spacing-layout-2-xl

  .results-list
    border: 1px solid #888

  .results-list__item
    position: relative
    padding: $spacing-xs $spacing-m
    cursor: pointer
    &:after
      @include opacity(0)
      display: block
      content: "Muokkaa"
      font-weight: 700
      position: absolute
      top: 0.75em
      right: calc(70px - 5rem)
      overflow: hidden
      max-width: 10px
      transition: all 200ms
    &:not(:last-child)
      border: none
    &:hover
      background-color: $color-engel-medium-light
      &:after
        right: -5rem
        max-width: 70px
        @include opacity(0.2)
    &:nth-child(odd)
      background-color: $color-engel-light
      &:hover
        background-color: $color-engel-medium-light

  &__tab--indices
    @include flexbox()
    @include flex-flow(column nowrap)
    @include flex-grow(1)
    [class*="Select-module_"]
      text-transform: capitalize
    .listing
      @include flex-grow(1)
      @include justify-content(flex-start)
      grid-template-rows: auto
      grid-template-columns: 50% 50%

    .list-headers, .results-list__item
      @include flexbox()
      @include justify-content(space-between)
      .index
        width: 70%
      .month
        width: 20%
      .value
        @include justify-content(flex-end)
        width: 10%
        text-align: right

  .index-actions
    @include flexbox()
    @include justify-content(center)
    padding-top: $spacing-layout-m
