@use '../imports' as *

.view--create
  position: relative
  margin-bottom: $spacing-layout-2-xl
  @include flexbox()
  @include flex-flow(column)

  .field-sets
    display: flex
    width: 100%
    gap: 1em
    background-color: $color-engel-medium-light
    padding: 1em

    fieldset
      display: flex
      flex-flow: column nowrap
      gap: 1em
      width: 50%
      flex-grow: 1

      > .row
        display: flex
        justify-content: space-between
        gap: inherit

        > div
          position: relative
          z-index: 2
          &:not(:first-child:last-child)
            width: 50%

    h4
      margin-bottom: 0

    label
      font-size: $fontsize-body-s
      height: 20px
      position: relative
      z-index: 1

    .input-field
      position: relative
      z-index: 1

    .input-field--required label
      font-weight: 700

    .input-field--date
      position: relative
      z-index: 900 !important
      transform: translateY(2px)

      [class*="input-wrapper"]
        transform: translateY(-2px)

    .input-field--related-model
      transform: translateY(4px)

      [class*="input-wrapper"]
        transform: translateY(-4px)

  [class*="input-field"]
    height: 81px
    flex-grow: 1

  .input-field--textArea
    height: auto

  .ownership-item
    position: relative
    display: flex
    gap: 1em

    label
      height: 21px
      white-space: nowrap
      position: absolute
      top: 0

      & + div
        padding-top: 25px

    .owner
      flex-grow: 1

      label
        left: 0

    .percentage
      width: 8ch

      label
        right: 0

    // remove-icon
    > div > [class*="icon_hds"]
      margin-top: 10px
      cursor: pointer

      &:hover path
        fill: $color-black-50

  .shares-fields
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

  .building-identifier-field
    width: 200px
    flex-grow: 0

  .ownership-headings
    @include flexbox()
    width: 100%
    justify-content: space-between
    margin-bottom: 1em

  .buttons
    @include flexbox()
    width: 100%
    justify-content: center
    padding: $spacing-layout-s
    gap: $spacing-layout-s

  > button
    margin: $spacing-layout-s auto

  .row--buttons
    margin-top: $spacing-layout-s

.view--create-improvements

  .field-sets
    padding-top: $spacing-layout-s
    flex-direction: column
    gap: $spacing-layout-m
    background: white
    legend
      font-size: $fontsize-heading-m
      line-height: 1 // 24px
    fieldset
      width: 100%
      position: relative


  .improvement-headers
    position: relative
    display: grid
    grid-template-columns: auto 160px 192px
    height: $spacing-layout-s
    font-size: $fontsize-body-s
    font-weight: 700
    span
      font-size: $fontsize-body-l
      line-height: 0
    .header__tooltip
      position: absolute
      top: -3px
      right: 48px
      section
        width: 280px

  .improvements-list
    padding: $spacing-layout-s
    background: $color-engel-medium-light
    &-item
      display: grid
      grid-template-columns: auto 150px 150px 32px
      gap: 1em
      [class*="input-field"]
        height: 61px
      .icon--remove
        cursor: pointer
        position: relative
        height: 56px
        > svg
          position: absolute
          top: 50%
          transform: translateY(-50%)
          margin: 0 !important
          color: $color-black-80
          &:hover
            color: $color-error

    &--construction-index
      .improvement-headers
        grid-template-columns: auto 165px 165px 192px
        .header__tooltip
          right: calc(192px + 24px)
      .improvements-list-item
        grid-template-columns: auto 150px 150px 150px 32px
