@use '../imports' as *

// Disable blue outline for the dialog title when it's selected
[class^="DialogHeader-module_dialogTitle"]:after
  content: none !important

// More red colors for danger dialogs
[class*="Dialog-module_danger"]
  background: $color-error-light !important
  border-color: $color-error !important

[class^="Dialog-module_"]
  [class^="Table-module_headerRow"]
    text-transform: capitalize

  [class^="Table-module_actionContainer"]
    display: none

  p.error-message
    margin-bottom: 0
    color: $color-error

  ul.info-text
    .title
      font-weight: bold

.input-field--related-model--modal--content
  display: flex
  flex-flow: column nowrap
  gap: 1em

  span.results-count
    margin-left: auto
    margin-right: auto
    display: flex
    align-items: center
    justify-content: center

  button
    display: flex
    justify-content: center
    align-self: center

#batch-complete-modal
  .input-field
    width: 100%
  .apartment-numbers
    margin-top: $spacing-l
    @include flexbox()
    @include justify-content(space-between)
    @include flex-flow(row nowrap)
    gap: $spacing-3-xs
    > div
      @include flexbox()
      @include flex-flow(row)
      align-items: flex-start
      label
        width: 100%
        flex-grow: 1

.batch-complete-error-modal
  min-height: 380px
