@use '../imports' as *

[class^="Dialog-module_"]
  [class^="Table-module_headerRow"]
    text-transform: capitalize

  [class^="Table-module_actionContainer"]
    display: none

  p.error-message
    margin-bottom: 0
    color: $color-error

.input-field--related-model--modal--content
  display: flex
  flex-flow: column nowrap
  gap: 1em

  span.results-count
    margin-left: auto
    margin-right: auto
    display: flex
    align-items: center
    justify-content: center

  button
    display: flex
    justify-content: center
    align-self: center

#batch-complete-modal
  .input-field
    width: 100%
    height: auto
  .apartment-numbers
    margin-top: $spacing-m
    @include flexbox()
    @include justify-content(space-between)
    @include flex-flow(row nowrap)
    gap: $spacing-2-xs
    > div
      @include flexbox()
      @include flex-flow(row)
      align-items: flex-start
      label
        width: 100%
        flex-grow: 1

.batch-complete-error-modal
  min-height: 380px
