@use '../imports' as *

[class^="Dialog-module_"]
  [class^="Table-module_headerRow"]
    text-transform: capitalize

  [class^="Table-module_actionContainer"]
    display: none

  p.error-message
    margin-bottom: 0
    color: $color-error
