@use "../imports" as *

.input-field
  margin-bottom: $spacing-l
  &--invalid
    [class*="text-input_hds-text-input"]
      border-color: $color-error !important
  label
    font-size: var(--fontsize-body-m)
    span
      line-height: var(--fontsize-body-m)
  &--required label
      font-weight: 700

input, input + label::before
  --focus-outline-color: var(--color-black-50)

[class*="input_hds-text-input__error-text"], [class*="text-input_hds-text-input__helper-text"]
  margin-top: 0 !important
  // top: -6px

[class*="ToggleButton-module"]
  --toggle-button-color: var(--color-black-80)
  --toggle-button-hover-color: var(--color-black)
  --toggle-button-unselected-color: var(--color-black-60)
  &:focus::after
    border-color: $color-black-80 !important

[class*="Select-module_labels"]
  :is(&, .specificity.up.up.up)
    height: auto

.input-field--dropdown
  [class*="Select-module_root"]
    max-width: unset

[class*="Checkbox-module_checkbox"] input
  background-color: white

[class*="Button-module_icon"]
  --computed-icon-size: 24px

div .disabled
  background-color: var(--input-background-disabled)
  border-color: var(--input-border-color-disabled)
  color: var(--input-color-disabled)
  cursor: not-allowed
  *
    cursor: not-allowed !important

[class*="FileInput-module"]
  button:not(:disabled)
    color: black
    border-color: black

#file-input-list
  margin: $spacing-2-xs 0 $spacing-s 0
  li
    background-color: $color-engel-light
    width: auto !important

[class^="heading--"] form
  @include flexbox()
  @include flex-flow(row nowrap)
  font-size: $fontsize-body-m
  .input-field
    height: 56px
    margin-bottom: 0
    width: 90px
    margin-left: $spacing-s
  button
    position: relative
    top: 7px
    height: 56px
    margin-left: $spacing-s

button.delete-button[class*="button_hds-button"]
  --color-hover: var(--color-error)
  --color-hover-focus: var(--color-error)
  --focus-outline-color: var(--color-error)
