@use "../imports" as *

.view--functions
  @include flexbox()
  @include flex-flow(column nowrap)
  @include flex-grow(1)
  [class^="Tabs-module"]
    [class*="tablistBar"]
      background-color: white
      padding: 0
    [class*="active"]
      background-color: $codes-background-color
      span
        font-weight: 700
        &:before
          display: none

  [class^="Tabs-module_tabs"]
    @include flexbox()
    @include flex-flow(column nowrap)
    @include flex-grow(1)
    > [id^="tab-"]
      @include flexbox()
      padding: 0
      > div
        @include flex-grow(1)

  label
    font-weight: 700

  &__price-ceiling-per-square
    padding: $spacing-m
    background: $color-black-10
    .calculate-button
      margin: -10px 0
      min-height: auto
      span
        @include flexbox()
        @include flex-flow(row nowrap)
        @include align-items(center)
        height: 38px
        margin: 0
        padding: 7px 0
      &:not(:disabled):hover
        background-color: black
        color: white
    .results-list
      margin-bottom: $spacing-m
      &__item
        @include align-items(center)
    form
      @include flexbox()
      @include justify-content(center)
      @include align-items(center)
      > div
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(center)
      .input-field--dropdown
        width: 200px
        margin: 0 $spacing-xs 0 0
      legend
        margin-bottom: $spacing-2-xs
      > button
        margin-top: $spacing-2-xs

  &__thirty-year-regulation
    flex-grow: 1
    .regulation, .companies
      padding: $spacing-m

    .regulation
      background: $color-black-10
      .actions
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: auto auto
        gap: $spacing-l
        label
          @include flexbox()
          @include justify-content(space-between)
          width: 100%
        .input-field
          margin: 0
          height: auto
        .time-period
          @include flexbox()
          @include flex-flow(row wrap)
          @include justify-content(space-between)
          @include align-content(flex-start)
          column-gap: $spacing-m
          row-gap: $spacing-xs
          grid-column: 1
          grid-row: 1
          > *
            flex-grow: 1
        .price-ceiling
          @include flexbox()
          @include flex-flow(column nowrap)
          grid-row: 1
          grid-column: 2
          .value
            @include flexbox()
            @include align-items(center)
            height: 56px
            margin-top: $spacing-xs
            font-size: $fontsize-heading-l
      .file
        position: relative
        grid-row: 2
        grid-column: 1 / span 2
        display: flex
        flex-flow: column nowrap
        .input-field--file
          position: relative
          display: grid
          grid-template-columns: 1fr 1fr
          grid-template-rows: auto auto
          gap: $spacing-l
        button[type="submit"]
          //display: none
        &--selected
          [class*="FileInput-module_fileInputContainer"]
            //display: none
          button[type="submit"]
            display: flex
            margin: auto
        label
          width: 100%
          margin-bottom: $spacing-s
        #file-input-list
          grid-column: 2
          grid-row: 1
        [class^="TextInput-module_root"]
          @include flexbox()
          @include flex-flow(column nowrap)
          grid-column: 1
          grid-row: 1 / span 2

        [class^="FileInput-module_fileInputWrapper"]
          width: 100%
        button[type="submit"]
          margin-left: auto
          margin-right: 0
        #file-input-info
          position: absolute
          top: 3.25rem
          right: 0
        #file-input-success
          display: none
        .buttons
          @include flexbox()
          @include justify-content(flex-end)
          gap: $spacing-m
          grid-column: 2
          grid-row: 2
      .external-sales-data-exists
        grid-row: 2
        color: $color-black-50
        font-size: $fontsize-body-m

    .companies
      margin-top: $spacing-m
      background-color: $color-engel-medium-light
      &--skipped
        background-color: $color-error-light
      p
        background-color: white
        padding: $spacing-m
      .list-headers
        width: 75%
      .results-list__item
        cursor: inherit
        padding: 0
        a
          width: 80%
          padding: $spacing-m
          @include flexbox()
          @include justify-content(space-between)
        button
          margin: $spacing-m
        form
          @include flexbox()
          @include justify-content(space-between)
          @include align-items(center)
          width: 100%
          .input-field
            height: auto
    .spinner-wrap
      flex-grow: 1
      [class*="LoadingSpinner-module_loadingSpinner"]
        --spinner-size: 7rem
        --spinner-thickness: 1rem
        --spinner-color: $color-engel
        color: $color-engel
