@use '../imports' as *

.view--housing-company-details
  .column
    gap: $spacing-layout-xs
    width: 50%

    textarea
      font-size: $fontsize-body-m
      width: 100%
      height: 200px
      resize: none

  .company-details
    > *
      margin-bottom: 75px

    .tab-area
      background: $color-black-5
      padding-bottom: 0.1px

    .tab-list
      background-color: white

    &__tab
      @include flexbox()
      @include flex-flow(row nowrap)
      background: white
      margin: $spacing-layout-s
      padding: $spacing-layout-s

      .column
        border-left: 1px solid #ccc
        padding-left: $spacing-layout-xs

        &:not(:first-child)
          margin-left: $spacing-layout-s

      .detail-field-label
        display: block
        font-size: $fontsize-body-m
        margin: $spacing-4-xs 0
        margin-bottom: $spacing-3-xs
        letter-spacing: 1px
        color: $color-black-50

      .detail-field-value
        margin: $spacing-4-xs 0
        font-size: $fontsize-body-xl
        font-weight: 600

        span
          color: $color-black-50
          font-weight: 400

        &:not(:last-child)
          margin-bottom: $spacing-layout-s

        .text-button
          border-bottom: 1px solid $color-black-80

          &:hover
            cursor: pointer
            color: $color-black-70

      // Hide 'Import sales catalog' help texts
      .input-field--file
        [class*="TextInput-module_root"] div:not(:first-child), #salesCatalog-list
          display: none


  .list-wrapper--real-estates, .list-wrapper--buildings
    width: 50%

  .list-wrapper--owners
    margin: $spacing-layout-m 0
    .text-button
        font-size: $fontsize-heading-l
        display: inline-flex
        align-items: center
        svg
          margin-left: $spacing-2-xs
    .detail-list__list
      .detail-list__list-headers, .detail-list__list-item
        > div
          width: 15%
          display: flex
          justify-content: center
          &:first-child
            width: 10%
            justify-content: start
          &:nth-child(2)
            width: 10%
          &:nth-child(5)
            width: 35%
            justify-content: start
            padding-right: $spacing-xs
          &:last-child
            justify-content: end

  .results
    grid-column-start: 1
    grid-column-end: 3

  .list-header
    &.apartment
      width: 10%

    &.area
      width: 48%

    &.address
      width: 35%

    &.state
      width: 10%

#import-sales-catalog-modal
  width: auto
  .sales-catalog-import-list
    max-height: 640px
    min-width: 640px
    @include flexbox()
    @include flex-flow(column nowrap)
    border: 1px solid $color-black-40
    overflow: auto

.housing-company-header
  @include flex-flow(column nowrap)
  padding: $spacing-layout-2-xs $spacing-layout-xs $spacing-layout-2-xs $spacing-layout-xs
  background: var(--color-engel)
  font-size: $fontsize-heading-s
  white-space: nowrap
  border: 0
  margin-bottom: $spacing-layout-s

  h1
    margin: 0
    margin-bottom: $spacing-layout-2-xs

  div
    @include flexbox()
    @include flex-flow(row nowrap)
    gap: 1rem

  [class^="StatusLabel"]
    background-color: var(--color-engel-light)
