@use '../imports' as *

.view--housing-company-list
  .list-header
    &.name
      width: 35%
      padding-right: $spacing-layout-2-xs

    &.address
      width: 32%
      padding-right: $spacing-layout-2-xs

      .apartments &
        width: 40%

    &.date
      width: 18%

    &.housing-company-state
      width: 15%

    &.area
      width: 14%

    &.apartment
      width: 31%

    &.state
      width: 12%
      text-align: right

  .results-list
    height: 859px
    overflow: hidden
    background: #eee

    &__item
      height: 85px
      background: white

      .name, .address, .date, .housing-company-state, > div
        @include flexbox()
        @include flex-flow(column nowrap)
        @include justify-content(center)
        align-items: flex-start

      .name
        width: 35%
        padding-right: $spacing-layout-2-xs

      .address
        width: 32%
        padding-right: $spacing-layout-2-xs

      .date
        width: 18%

      .housing-company-state
        width: 15%
        align-items: flex-end
