@use '../imports' as *

.view--housing-company-details
  .company-status
    display: flex
    flex-direction: row
    gap: 1rem
    margin-bottom: 1rem

  .company-details
    > *
      margin-bottom: 75px

    .tab-area
      background: $color-black-5
      padding-bottom: 0.1px

    .tab-list
      background-color: white

    &__tab
      @include flexbox()
      @include flex-flow(row nowrap)
      background: white
      margin: $spacing-layout-s
      padding: $spacing-layout-s

      .column
        border-left: 1px solid #ccc
        padding-left: $spacing-layout-xs

        &:not(:first-child)
          margin-left: $spacing-layout-s

      .detail-field-label
        display: block
        font-size: $fontsize-body-m
        margin: $spacing-4-xs 0
        margin-bottom: $spacing-3-xs
        letter-spacing: 1px
        color: $color-black-50

      .detail-field-value
        margin: $spacing-4-xs 0
        font-size: $fontsize-body-xl
        font-weight: 600

        span
          color: $color-black-50
          font-weight: 400

        &:not(:last-child)
          margin-bottom: $spacing-layout-s

  .list-wrapper--real-estates, .list-wrapper--buildings
    width: 50%

  .results
    grid-column-start: 1
    grid-column-end: 3

  .list-header
    &.apartment
      width: 10%

    &.area
      width: 48%

    &.address
      width: 35%

    &.state
      width: 10%
