@use "../imports" as *

.ownership
  &-headings
    font-weight: 700
  &s-list > div
    svg
      display: none
    &.error-text svg
      display: inline-block
      margin: 0 $spacing-s
      vertical-align: middle
  &-item
    label
      display: none
    .percentage
      position: relative
      span
        position: absolute
        color: $color-black-30
        top: 19px
        right: 0.5em
    .input-field
      height: auto
